/**
 * Roboto
 */
@include font-face("Roobert", "Roobert-Light", $font-weight: 300);
@include font-face("Roobert", "Roobert-Medium", $font-weight: 400);
@include font-face("Teodor", "Teodor-Light", $font-weight: 300);

/**
 * Font variables
 */
$font-roobert: "Roobert", sans-serif;
$font-teodor: "Teodor", serif;

/**
 * Font size map
 */
$settings-typography: (
    "a4": (
        $breakpoint-xs: 80px,
        $breakpoint-xl: 308px,
    ),
    "a3": (
        $breakpoint-xs: 42px,
        $breakpoint-xl: 125px,
    ),
    "a2": (
        $breakpoint-xs: 32px,
        $breakpoint-xl: 80px,
    ),
    "a1": (
        $breakpoint-xs: 18px,
        $breakpoint-xl: 34px,
    ),
    "b0": (
        $breakpoint-xs: 18px,
        $breakpoint-xl: 18px,
    ),
    "b1": (
        $breakpoint-xs: 14px,
        $breakpoint-xl: 16px,
    ),
    "b2": (
        $breakpoint-xs: 14px,
        $breakpoint-xl: 16px,
    ),
    "b3": (
        $breakpoint-xs: 14px,
        $breakpoint-xl: 14px,
    ),
    "b4": (
        $breakpoint-xs: 14px,
        $breakpoint-xl: 14px,
    ),
);
