.c-contact-wrapper {
    @include fluidValue("margin-top", null, 332px);

    position: relative;

    &__inner {
        position: relative;
    }

    &__contact {
        position: relative;
        display: block;
        z-index: 1;
    }

    &__model {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 0;
        padding-top: percentage(9, 16);
        transform: translate(-50%, -50%);

        canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__extra-big-text {
        @include fluidValue("margin-bottom", "s-248");

        max-width: em(1015px, 308px);
        word-break: break-word;
        position: relative;
        z-index: 1;

        @include mq(md) {
            max-width: 100%;
        }
    }
}
