.c-3d-slider {
    position: relative;

    &__slider {
    }

    &__slide {
        height: 100%;
    }

    &__models {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        display: none;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1;
        background: radial-gradient(53.06% 84.79% at 53.06% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 51.97%, #000000 100%);
        -webkit-mask: radial-gradient(circle, #0000 percentage(13, 24), rgba(0, 0, 0, 0.9) percentage(13.1, 24));
        backdrop-filter: blur(7px);

        display: none;
    }

    &__navigaiton {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 2;
    }

    // overwrite
    .swiper {
    }

    .swiper-wrapper {
        min-height: var(--win-height);
    }

    .swiper-button-prev,
    .swiper-button-next {
        pointer-events: auto;
        cursor: none;
    }
}
