.c-header {
    @include fluidValue("padding-top", "s-120");
    @include fluidValue("padding-bottom", "s-40");

    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    color: $white;

    @include mq(md) {
        min-height: auto;
        grid-template-rows: auto;
    }

    &__title {
        @include fluidValue("padding-top", "s-12");
        @include fluidValue("padding-bottom", "s-56");

        grid-column: 1 / -1;
        grid-row: 1;
        z-index: 1;

        @include mq(md) {
            text-align: center;
            padding-bottom: 0;
        }
    }

    &__subtitle {
        @include fluidValue("padding-bottom", "s-80");
        @include fluidValue("padding-top", "s-200");

        grid-column: 8 / span 6;
        margin-top: auto;

        @include mq(md) {
            @include fluidValue("padding-bottom", "s-40");

            padding-top: 0;
            grid-column: span 22;
            text-align: center;
        }
    }

    &__model {
        @include fluidValue("top", "s-64");
        @include fluidValue("bottom", "s-64");
        position: absolute;
        right: 0;
        left: percentage(14, 24);
        border: 1px solid red;

        @include mq(md) {
        }
    }

    &__arrow {
        grid-row: 2 / 3;
        grid-column: 14 / span 4;
        z-index: 1;

        .u-icon {
            width: 100%;
            height: auto;
        }

        @include mq(md) {
            grid-row: auto;
            grid-column: 8 / 16;
            display: flex;
            justify-content: center;
        }
    }
}
