.c-full-width-video-module {
    position: relative;

    &:after,
    &:before {
        @include fluidValue("height", null, 100px);
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    &:after {
        background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0) 100%);
        top: 0;
    }

    &:before {
        background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0) 100%);
        bottom: 0;
    }

    video {
        width: 100%;
        height: auto;
    }
}
