.c-services-card {

    &__graphic {
        @include fluidValue("width", null, 120px);
        @include fluidValue("height", null, 120px);
        @include fluidValue("margin-bottom", null, 16px);

        border: 1px solid $white;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        @include fluidValue("max-width", null, 180px);
        @include fluidValue("margin-bottom", null, 16px);

        @include mq(md) {
            margin-bottom: 12px;
        }
    }

    &__description {
        max-width: em(240px, 16px);
    }

}
