.c-cursor {
    @include fluidValue("width", null, 80px);
    @include fluidValue("height", null, 60px);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: $z-index-cursor;
    opacity: 0;
    transition: opacity 0.3s;

    &.is-moved {
        opacity: 1;
    }

    @include mq(md) {
        display: none;
    }

    &:before {
        @include fluidValue("width", null, 160px);
        @include fluidValue("height", null, 160px);
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-75%, -45%) scale(1);
        background: radial-gradient(50% 50% at 50% 50%, rgba(254, 179, 1, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
        transition: transform 0.5s $ease-out-quart;
    }

    &.is-active:before {
        transform: translate(-75%, -45%) scale(1.55);
    }

    &__icon-idle {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;

        .is-active & {
            opacity: 0;
            visibility: hidden;
        }
    }

    &__icon-active {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        opacity: 0;
        visibility: hidden;
        z-index: 1;

        .is-active & {
            opacity: 1;
            visibility: visible;
        }
    }

    .u-icon {
        width: 100%;
    }
}
